.backdrop {
	background-color: rgb(0 0 0 / 40%);
}
.window {
	position: relative;
	font-family: "Museo Sans Cyrl", sans-serif;
	color: #ffffff9c;

	border-style: solid;
	border-width: 1px;
	border-image-source: linear-gradient(189deg, #263e66 20%, #09213d 40%, #111f2d 61%, #23599c 79%);
	border-image-slice: 1;
	background-color: rgba(21, 10, 1, 0.21);

	transition: all 0.3s ease-in-out;

	&::after,
	&::before {
		position: absolute;
		content: "";
		width: 34px;
		height: 34px;
	}

	&::after {
		background: url("../../../../img/left_glare.webp") 0 0 no-repeat;
		left: -16px;
		bottom: -16px;
	}
	&::before {
		background: url("../../../../img/right_glare.webp") 0 0 no-repeat;
		right: -16px;
		top: -16px;
	}
}
.header,
.body,
.footer {
	padding: 15px 20px;
}
.header,
.footer {
	border-style: solid;
	border-image-source: linear-gradient(189deg, #263e66 20%, #09213d 40%, #111f2d 61%, #23599c 79%);
	border-image-slice: 1;
	border-width: 0;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom-width: 1px;
}
.footer {
	display: flex;
	justify-content: end;
	border-top-width: 1px;
}
.title {
	color: #ffffffe7;
	font-variant: all-small-caps;
	font-weight: 700;
	font-size: 24px;
}
.close-x {
	padding: 5px 7px;
	border-radius: 5px;
	line-height: 1;
	color: #ffffff9c;
	cursor: pointer;
	transition: 0.3s ease;
	&:hover,
	&:focus {
		background-color: rgba(21, 10, 1, 0.21);
	}
}
// .modal-body {
// 		label {
// 			display: block;
// 			margin-bottom: 12px;
// 			&:last-child {
// 				margin-bottom: 0;
// 			}
// 		}
// 		textarea {
// 			min-height: 150px;
// 			resize: none;
// 		}
// 		// .form-control {
// 		// 	width: 100%;
// 		// 	padding: 4px 10px;

// 		// 	color: #ffffffe7;

// 		// 	border-style: solid;
// 		// 	border-width: 1px;
// 		// 	border-image-source: linear-gradient(189deg, #263e66 20%, #09213d 40%, #111f2d 61%, #23599c 79%);
// 		// 	border-image-slice: 1;
// 		// 	border-radius: 0;
// 		// 	box-shadow: none;
// 		// 	background-color: rgba(6, 6, 6, 0.666);

// 		// 	transition: box-shadow 0.3s ease, border-image-source 0.3s ease;

// 		// 	&:focus {
// 		// 		border-image-source: linear-gradient(189deg, #263e66 20%, #193758 40%, #214263 61%, #23599c 79%);
// 		// 		box-shadow: 0 0 19px 0rem rgba(53, 56, 220, 0.25);
// 		// 	}
// 		// }

// 		// .was-validated {
// 		// 	input,
// 		// 	textarea {
// 		// 		&:invalid {
// 		// 			box-shadow: none;
// 		// 			border-image-source: linear-gradient(189deg, #663a26 20%, #3d1809 40%, #2d1411 61%, #9c2323 79%);
// 		// 			&:focus {
// 		// 				box-shadow: 0 0 19px 0rem rgb(220 53 69 / 25%);
// 		// 				border-image-source: linear-gradient(189deg, #663a26 20%, #5a2c1a 40%, #5c251f 61%, #9c2323 79%);
// 		// 			}
// 		// 		}
// 		// 		&:valid {
// 		// 			box-shadow: none;
// 		// 			border-image-source: linear-gradient(189deg, #2b6626 20%, #0f3d09 40%, #132d11 61%, #239c23 79%);
// 		// 			&:focus {
// 		// 				box-shadow: 0 0 19px 0rem rgba(73, 220, 53, 0.25);
// 		// 				border-image-source: linear-gradient(189deg, #2b6626 20%, #27611f 40%, #1f551b 61%, #239c23 79%);
// 		// 			}
// 		// 		}
// 		// 	}
// 		// }

// 		// .invalid {
// 		// 	input,
// 		// 	textarea {
// 		// 		padding-right: calc(1.5em + 0.75rem) !important;
// 		// 		background-image: url("@img/icon/error.svg");
// 		// 		background-repeat: no-repeat;
// 		// 		background-position: right calc(0.375em + 0.1875rem) center;
// 		// 		background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);

// 		// 		box-shadow: none;
// 		// 		border-image-source: linear-gradient(189deg, #663a26 20%, #3d1809 40%, #2d1411 61%, #9c2323 79%);
// 		// 		&:focus {
// 		// 			box-shadow: 0 0 19px 0rem rgb(220 53 69 / 25%);
// 		// 			border-image-source: linear-gradient(189deg, #663a26 20%, #5a2c1a 40%, #5c251f 61%, #9c2323 79%);
// 		// 		}
// 		// 	}
// 		// }

// 		// .valid {
// 		// 	input,
// 		// 	textarea {
// 		// 		padding-right: calc(1.5em + 0.75rem) !important;
// 		// 		background-image: url("@img/icon/done.svg");
// 		// 		background-repeat: no-repeat;
// 		// 		background-position: right calc(0.375em + 0.1875rem) center;
// 		// 		background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);

// 		// 		box-shadow: none;
// 		// 		border-image-source: linear-gradient(189deg, #2b6626 20%, #0f3d09 40%, #132d11 61%, #239c23 79%);
// 		// 		&:focus {
// 		// 			box-shadow: 0 0 19px 0rem rgba(73, 220, 53, 0.25);
// 		// 			border-image-source: linear-gradient(189deg, #2b6626 20%, #27611f 40%, #1f551b 61%, #239c23 79%);
// 		// 		}
// 		// 	}
// 		// }

// 		// .attention {
// 		// 	margin: 18px 0 0;

// 		// 	grid-column: span 2;

// 		// 	font-size: 10px;
// 		// 	font-weight: 100;
// 		// 	line-height: 1em;
// 		// 	text-align: right;
// 		// }
// 	}

// .modal-footer {
// 	.firm-btn {
// 		color: #fffffff5;
// 	}

// 	border-image-source: linear-gradient(189deg, #263e66 20%, #09213d 40%, #111f2d 61%, #23599c 79%);
// 	border-image-slice: 1;
// }
