.firm-btn {
	padding: 8px 23px;

	font-size: 14px;
	line-height: 1.2;
	font-weight: 100;
	color: #ffffff9c;
	white-space: nowrap;

	border-style: solid;
	border-width: 1px;
	border-image-source: linear-gradient(189deg, #263e66 20%, #09213d 40%, #111f2d 61%, #23599c 79%);
	border-image-slice: 1;
	background-color: rgba(0, 0, 0, 0.21);

	transform-origin: right;
	transition: border-image-source 0.3s ease, transform 0.3s ease;

	&_red {
		background-color: rgba(111, 0, 0, 0.666);
	}

	&:hover {
		border-image-source: linear-gradient(300deg, #263e66 20%, #09213d 40%, #111f2d 61%, #23599c 79%);
	}
}
