.text-area {
	position: relative;

	padding: 9px;

	font-family: "Museo Sans Cyrl", sans-serif;
	font-size: 18px;
	color: #fafafa;

	border-style: solid;
	border-width: 1px;
	border-image-source: linear-gradient(189deg, #263e66 20%, #09213d 40%, #111f2d 61%, #23599c 79%);
	border-image-slice: 1;
	outline: none;

	background-color: rgba(21, 10, 1, 0.21);
	transition: all 0.3s ease;
	&::placeholder {
		font-size: 16px;
		transition: all 0.3s ease;
	}
	&:focus {
		border-image-source: linear-gradient(300deg, #263e66 20%, #09213d 40%, #111f2d 61%, #23599c 79%);
	}
	&:focus::placeholder {
		opacity: 0;
		touch-action: none;
		transform-origin: left;
		transform: scale(90%);
	}
}
