/*----------header start-----------*/

.wrap {
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  z-index: 100;
  position: sticky;
  width: 100%;
  background-color: rgba(21, 10, 1, 0.21);
  border-block: 1px solid rgba(152, 147, 147, 0.21);
}

.site-logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px 10px 20px;

  border: 10px solid #fff;
  border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 11' width='11' height='11'><g fill='%23fff'><rect width='1' height='5'/><rect y='6' width='1' height='5'/><rect x='10' y='6' width='1' height='5'/><rect x='10' width='1' height='5'/><rect width='5' height='1'/><rect y='10' width='5' height='1'/><rect x='6' y='10' width='5' height='1'/><rect x='6' width='5' height='1'/></g></svg>")
    5;
  transition: transform 0.3s ease;

  &::after,
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &::after {
    border-left: 1px solid rgba(152, 147, 147, 0.21);
    margin: 0 -10px;
  }
  &::before {
    border-right: 1px solid rgba(152, 147, 147, 0.21);
    margin: 0 10px;
  }
  &:hover {
    transform: scalex(101%);
  }
}

.burger {
  z-index: 100;
  position: relative;
  display: none;

  svg {
    width: 74px;
    height: 74px;
  }

  color: #fff;
  transition: color 0.3s ease;

  &:active {
    color: #b1b1b1;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.link {
  position: relative;

  color: #fff;
  font-weight: 300;
  transition: color 0.3s ease;
  &::after {
    position: absolute;
    opacity: 0;
    content: '';
    width: 100%;
    left: 0;
    bottom: 0;
    height: 1px;
    background: rgba(152, 147, 147, 0.21);
    transform: scaleX(200%) translateY(15px);
    transition: 0.3s ease;
    transition-property: transform, opacity;
  }
  &.active,
  &:hover {
    &::after {
      transform: scaleX(100%) translateY(3px);
      opacity: 1;
    }
  }
  &.active {
    color: #e4e4e4;
  }
  &:hover:not(&.active) {
    color: #b1b1b1;
  }
}

/*----------header end-----------*/

/*----------header media start-----------*/
@media (max-width: 1199px) {
  .burger {
    display: flex;
    svg {
      height: 60px;
      width: 60px;
    }
  }
  .navbar {
    opacity: 0;
    pointer-events: none;

    position: fixed;
    inset: 0;

    flex-direction: column;
    justify-content: center;
    font-size: 5vh;

    background-color: #000000e6;

    &.show {
      opacity: 1;
      pointer-events: all;
      overflow: hidden;
      & ~ .burger {
        position: fixed;
        right: 16px;
      }
    }
  }
}

@media (max-width: 767px) {
  .site-logo {
    padding: 10px 5px 15px;
    img {
      width: 140px;
    }
  }
  .burger {
    svg {
      height: 45px;
      width: 45px;
    }
  }
}
/*----------header media end-----------*/
