@font-face {
	font-family: "NotoSansMono var";
	font-display: swap;
	src: url("../fonts/NotoSansMono-Variable.ttf") format("truetype");
}
@font-face {
	font-family: "NotoSansMono";
	src: local("Noto Sans Mono Regular"), local("NotoSansMono-Regular"),
		url("../fonts/NotoSansMono-Regular.woff2") format("woff2"), url("../fonts/NotoSansMono-Regular.woff") format("woff"),
		url("../fonts/NotoSansMono-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
