@font-face {
	font-family: "NotoSansMono";
	font-display: swap;
	src: url("./NotoSansMono-VariableFont_wdth\,wght.ttf") format("woff2"),
		url("./NotoSansMono-VariableFont_wdth\,wght.ttf") format("woff");
	font-weight: 400;
	font-style: normal;
}
