.block-text {
	&__title {
		font-family: "Rubik";
		font-weight: 700;
		font-size: 44px;
		line-height: 126%;
		/* or 55px */
		color: #000000;
		margin-bottom: 12px;
		&.marker-blue span {
			color: #4285f4;
		}
		&.marker-red span {
			color: #ec5863;
		}
	}

	&__text {
		font-family: "Rubik";
		font-weight: 400;
		font-size: 12px;
		line-height: 138.5%;
		/* or 17px */
		letter-spacing: 0.08em;
		color: #616161;
		margin-bottom: 24px;
	}
}
