.backdrop {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}

.window {
	opacity: 0;
}
.modal-enter-done {
	&.backdrop {
		opacity: 1;
	}
	.window {
		opacity: 1;
	}
}
.modal-exit {
	&.backdrop {
		opacity: 0;
	}
	.window {
		opacity: 0;
	}
}
