.backdrop {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	// pointer-events: none;
}

.window {
	opacity: 0;
	// transform: scale(0.4);
	// transition: all 0.3s ease-in-out;
}
.modal-enter-done .window {
	opacity: 1;
	// pointer-events: auto;
	// transform: scale(1);
}
.modal-exit .window {
	opacity: 0;
	// transform: scale(0.4);
}
