.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.message {
  font-size: 70px;
  text-transform: uppercase;
}

.btn {
  padding: 5px 20px 10px;
  border-radius: 10px;

  font-family: var(--font-family_var);
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 400;

  transition: text-shadow 0.5s ease, font-weight 0.5s ease,
    background-color 0.2s ease;
  &:hover {
    font-weight: 700;
    background-color: #ffffff6b;
    text-decoration-color: #d1745b;
    text-shadow: 2px 2px 0.5px #d3a092;
  }
}
