@font-face {
  font-family: 'Museo Sans Cyrl';
  font-display: swap;
  src: url('Museo Sans Cyrl 100.woff2') format('woff2'),
    url('Museo Sans Cyrl 100.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  font-display: swap;
  src: url('museosanscyrl_500.woff2') format('woff2'),
    url('museosanscyrl_500.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
